@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    --background: #f7f7f7;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  font-family: var(----font-bree-serif-sans), Arial, Helvetica, sans-serif;

  /* background: var(--background);*/
  background: linear-gradient(
    -45deg,
    #f80759,
    #e560dc,
    #ffb374,
    #ef5f5f,
    #d840b6
  );
  background-size: 400% 400%;
  animation: bg 12s ease infinite;
}

@keyframes bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

iframe {
  width: 100% !important;
  max-width: 100%;
}
